@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap');

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

$base-red: #d60407;
$dark-red: #960306;
$base-black: #010A10;
$base-white: #FFFBF2;
$base-gray: #e9e8e8;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $base-black;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: $base-white;
}

.navbar {
    position: fixed;
    height: 75px;
    width: 100vw;
    top: 0;
    @include flexCenter();
    justify-content: space-between;
    padding: 0 5%;
    background-color: $base-red;
    box-shadow: 0px 0px 16px grey;
    #logo {
        color: $base-white;
        font-size: 2em;
    }
    ul {
        list-style: none;
        @include flexCenter();
        height: 100%;
        li {
            height: 100%;
            color: $base-white;
            padding: 0 1.5em;
            transition: background-color 0.5s;
            &:hover {
               background-color: $dark-red;
            }
        }
        a {
            text-decoration: none;
            color: $base-white;
            height: 100%;
            @include flexCenter();
        }
        #shop-anchor {
            @include flexCenter();
            #shop-dropdown {
                position: absolute;
                top: 75px;
                border: 2px solid $base-red;
                border-top: none;
                width: 200px;
                display: none;
              
                a {
                    font-size: 1.2em;
                    color: $base-black;
                    background-color: $base-white;
                    transition: background-color 0.5s, color 0.5s;
                    padding: 0.5em 1em;
                    &:hover {
                        background-color: $base-red;
                        color: $base-white;
                    }
                }
            }
            &:hover {
                #shop-dropdown {
                    display: block;
                }
            }
        }
    }
}

.page {
    padding-top: 75px;
}

.shop {
    width: 100%;
    height: 100%;
    padding-top: 75px;
    @include flexCenter();
    justify-content: space-around;
    flex-wrap: wrap;
    .item-container {
        width: calc(clamp(300px, 30vw, 400px));
        aspect-ratio: 1/1;
        @include flexCenter();
        flex-direction: column;
        justify-content: space-between;
        background-color: $base-gray;
        margin-bottom: 35px;
        p {
            font-size: calc(clamp(1.1em, 3vw, 1.2em));
            width: 100%;
            padding: 1em 0.5em;
            background-color: $base-white;
            cursor: pointer;
        }
        img {
            width: 100%;
            aspect-ratio: 1/1;
        }
    }
    #single-focus-container {
        background-color: $base-white;
        background: url("../pictures/yorkville\ checkout\ background.jpg");
        width: 100vw;
        height: calc(100vh - 75px);
        #back-to-shop {
            color: $base-black;
        }
        #content-container{
            @include flexCenter();
            flex-wrap: wrap;
            gap: 40px;
            position: absolute;
            left: 50%;
            top: calc(50% + 37.5px);
            width: calc(min(90%, 1000px));
            transform: translate(-50%, -50%);
            padding: 2% 0;
            background-color: rgba(255, 255, 255, .15);  
            backdrop-filter: blur(7.5px);
            box-shadow: 0px 0px 16px gray;
            border-radius: 15px;
            #p-img-container {
                @include flexCenter();
                flex-direction: column;
                width: calc(min(50%, 450px));
                gap: 1vh;
            }
            img {
                width: 80%;
                border: inset 2px gray;
                border-radius: 15px;
            }
            p {
                font-size: 1.5em;
                width: 100%;
                text-align: center;
            }
            #size-add-container {
                @include flexCenter();
                flex-direction: column;
                width: 40%;
                gap: 45px;
            }
            .add-to-cart {
                padding: 0.5em 1em;
                font-size: 1.3em;
                cursor: pointer;
                border: none;
                background-color: $base-red;
                color: $base-white;
                border-radius: 5px;
                transition: background-color 0.5s;
                &:hover {
                    background-color: $dark-red;
                }
            }
            .add-to-cart.inactive {
                cursor: auto;
                opacity: 0.5;
                &:hover {
                    background-color: $base-red;
                }
            }
            #size-container {
                width: 80%;
                @include flexCenter();
                flex-wrap: wrap;
                gap: 5px;
                .size-buttons {
                    width: 75px;
                    aspect-ratio: 2/1;
                    font-size: 1.3em;
                    cursor: pointer;
                    border: none;
                    background-color: $base-white;
                    color: $base-black;
                    transition: background-color 0.5s, color 0.25s;
                    border: #d60407 2px solid;
                    border-radius: 5px;
                    &:hover {
                        color: $base-white;
                        background-color: $base-red;
                    }
                }
            }
        }
        
        
    }
}

.login {
    @include flexCenter();
    padding-top: 75px;
    height: calc(100vh - 75px);
    width: 100vw;
    .form-container {
        padding: 2em;
        border: 2px solid $base-gray;
        box-shadow: 0px 0px 16px $base-gray;
        width: calc(clamp(300px, 50vw , 500px));
        form {
            @include flexCenter();
            flex-direction: column;
            h2 {
                color: $base-red;
                font-size: 2em;
                margin-bottom: 0.5em;
            }
            label {
                font-size: 1.3em;
                width: 80%;
            }
            input {
                width: 80%;
                height: 3em;
                padding-left: 1em;
                font-size: 1em;
                border: 2px solid $base-gray;
                border-radius: 5px;
                margin-bottom: 1.3em;
            }
            button {
                padding: 0.5em 1.3em;
                font-size: 1.2em;
                cursor: pointer;
                border: none;
                background-color: $base-red;
                color: $base-white;
                border-radius: 5px;
                margin-bottom: 1.3em;
            }
            span {
                color: $base-red;
                cursor: pointer;
            }
        }
    }
}

.cart {
    padding-top: 75px;
    @include flexCenter();
    height: 100vh;
    #cart-list {
        width: 70%;
        height: 100%;
        align-content: flex-start;
        overflow-y: auto;
       ul {
        list-style: none;
        li {
            @include flexCenter();
            justify-content: space-between;
            border-bottom: 2px solid $base-gray;
            padding: 1.5em;
            p {
                font-size: 1em;
                width: 80%;
            }
            button {
                @include flexCenter();
                height: calc(clamp(40px, 8vw, 45px));
                width: calc(clamp(40px, 8vw, 45px));
                font-size:  calc(clamp(1.9em, 6vw, 2em));;
                background-color: $base-white;
                color: $base-red;
                border: 2px solid $base-red;
                border-radius: 5px;
                transition: background-color 0.25s, color 0.25s;
                cursor: pointer;
                &:hover {
                    background-color: $base-red;
                    color: $base-white; 
                }
            }
        }
       }
    }
    #buy-container {
        width: 30%;
        height: 100%;
        border-left: 2px solid $base-black;
    }
}

