* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #010A10;
  font-family: 'Titillium Web', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: url("../pictures/yorkvilleBG_Dark.png");
}

.navbar {
  position: fixed;
  height: 75px;
  width: 100vw;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3vw;
  -webkit-box-shadow: 0px 0px 16px black;
          box-shadow: 0px 0px 16px black;
  background-color: rgba(200, 200, 200, 0.3);
}

.navbar #logo a {
  color: #FFFBF2;
  font-size: 1.6em;
  text-decoration: none;
  text-shadow: 1px 1px 4px black;
  font-weight: bold;
}

.navbar #instagram-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  width: 80px;
}

.navbar #instagram-container #instagram {
  cursor: pointer;
  fill: #FFFBF2;
  height: 30px;
  width: 30px;
  -webkit-filter: drop-shadow(0px 0px 4px #010A10);
          filter: drop-shadow(0px 0px 4px #010A10);
}

.navbar #instagram-container:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar #burger {
  display: none;
}

.navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar ul li {
  height: 100%;
  width: 100px;
  color: #FFFBF2;
  font-weight: bold;
  font-size: 1.1em;
  text-shadow: 2px 2px 2px black;
  padding: 0 1.5em;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.navbar ul li:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar ul li a {
  text-decoration: none;
  color: #FFFBF2;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul #shop-anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar ul #shop-anchor span {
  color: #FFFBF2;
}

.navbar ul #shop-anchor span::after {
  content: "\25BC";
}

.navbar ul #shop-anchor #shop-dropdown {
  display: none;
  position: absolute;
  top: 75px;
  width: 200px;
  -webkit-box-shadow: 2px 2px 8px #010A10, -2px 2px 8px #010A10;
          box-shadow: 2px 2px 8px #010A10, -2px 2px 8px #010A10;
  background-color: rgba(50, 50, 50, 0.6);
}

.navbar ul #shop-anchor #shop-dropdown a {
  font-size: 1.4em;
  color: #FFFBF2;
  padding: 0.5em 1em;
  text-shadow: 1px 1px 2px black;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.navbar ul #shop-anchor #shop-dropdown a:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.navbar ul #shop-anchor:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar ul #shop-anchor:hover #shop-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home {
  width: 100%;
  height: 100%;
}

.home .home-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.home .home-container > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh);
  min-height: 600px;
  overflow: hidden;
  padding-top: 75px;
}

.home .home-container h2 {
  color: #FFFBF2;
  text-shadow: 0px 0px 8px #010A10;
  height: 20%;
  font-size: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home-container .clickers {
  height: 10%;
  width: 100%;
  gap: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em;
}

.home .home-container .clickers :first-child :first-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.home .home-container .clickers > div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFFBF2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  -webkit-box-shadow: 0px 0px 8px #010A10;
          box-shadow: 0px 0px 8px #010A10;
  cursor: pointer;
}

.home .home-container .clickers > div:hover {
  background-color: #d6d5d5;
}

.home .home-container .clickers > div > img {
  width: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.home .home-container .carousel {
  width: 95%;
  height: 70%;
  position: relative;
  left: 5%;
  overflow: hidden;
}

.home .home-container .carousel ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  padding: none;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  gap: 25px;
}

.home .home-container .carousel ul li {
  border: #FFFBF2 2px solid;
  height: 90%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  background-color: #FFFBF2;
  -webkit-transition: -webkit-transform 0.5s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  transition: transform 0.5s ease-in-out, box-shadow 0.25s ease-in-out;
  transition: transform 0.5s ease-in-out, box-shadow 0.25s ease-in-out, -webkit-transform 0.5s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

.home .home-container .carousel ul li img {
  width: calc(clamp(250px, 40vmax , 400px));
  aspect-ratio: 1/1;
}

.home .home-container .carousel ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 1em;
}

.home .home-container .carousel ul li div :nth-child(2) {
  color: #646464;
}

.home .home-container .carousel ul li div p {
  font-size: 1.7em;
  font-size: calc(clamp(1.2em, 2vw ,1.7em));
}

.home .home-container .carousel ul li:hover {
  -webkit-box-shadow: 0px 0px 16px #010A10;
          box-shadow: 0px 0px 16px #010A10;
}

.home .modal {
  width: 300px;
  border-radius: 0;
  padding: 0 1em;
  border-radius: 5px;
}

.home .modal span {
  margin-left: auto;
  position: absolute;
  top: -0.25em;
  right: 0.5em;
}

.home .modal h3 {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1em;
}

.home .modal p {
  text-align: center;
  font-size: 1.1em;
  color: #646464;
  margin-top: 1em;
}

.home .modal button {
  display: block;
  margin: 1em auto;
  background-color: #010A10;
  color: #FFFBF2;
  font-size: 1.1em;
  padding: 0.25em 1em;
  cursor: pointer;
  border: none;
  -webkit-transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.home .modal button:hover {
  background-color: #010A10;
  opacity: 0.8;
}

.shop {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop .item-container {
  width: calc(clamp(300px, 30vw, 400px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFFBF2;
  -webkit-box-shadow: 0px 0px 16px #010A10;
          box-shadow: 0px 0px 16px #010A10;
  cursor: pointer;
}

.shop .item-container p {
  font-family: 'Tillana', cursive;
  font-size: calc(clamp(1.1em, 2vw, 1.4em));
  width: 100%;
  padding: 1em 0.5em;
  background-color: #FFFBF2;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shop .item-container img {
  width: calc(100% - 3em);
  aspect-ratio: 1/1;
  margin: 1.5em 1.5em 0 1.5em;
  background-color: #d6d5d5;
}

.shop .item-container #shop-imgs {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.shop .item-container .fade-in {
  opacity: 1 !important;
}

.shop .back-button {
  position: fixed;
  top: 75px;
  left: 5px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  color: #FFFBF2;
  font-size: 1.3em;
  text-shadow: 0px 0px 4px #010A10;
}

.shop #single-focus-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(min(800px, 90%));
  gap: 50px;
  margin-top: 75px;
  padding: 5% 0;
}

.shop #single-focus-container .item-container {
  width: calc(clamp(300px, 30vw, 400px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFFBF2;
  -webkit-box-shadow: 0px 0px 16px #010A10;
          box-shadow: 0px 0px 16px #010A10;
}

.shop #single-focus-container #details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFBF2;
  border-radius: 15px;
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: 0px 0px 16px #010A10;
          box-shadow: 0px 0px 16px #010A10;
  padding: 2.5% 5%;
  gap: 25px;
}

.shop #single-focus-container #details-container div {
  text-align: center;
}

.shop #single-focus-container #details-container .add-to-cart {
  cursor: pointer;
  border: 2px solid #010A10;
  padding: 0 2.5%;
  font-size: 1.3em;
  background-color: #FFFBF2;
  -webkit-transition: color 0.25s, background-color 0.25s;
  transition: color 0.25s, background-color 0.25s;
}

.shop #single-focus-container #details-container .add-to-cart:hover {
  background-color: #010A10;
  color: #FFFBF2;
}

.shop #single-focus-container #details-container .add-to-cart:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.shop #single-focus-container #details-container h3 {
  font-size: 1.5em;
}

.shop #single-focus-container #details-container ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  row-gap: 10px;
  max-width: 300px;
}

.shop #single-focus-container #details-container ul li {
  outline: 1px solid #010A10;
  width: 60px;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  margin: 0 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
}

.shop #single-focus-container #details-container ul li:hover {
  outline: 2px solid #010A10;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 75px;
  height: calc(100vh - 75px);
  width: 100vw;
}

.login .form-container {
  padding: 2em;
  -webkit-box-shadow: 0px 0px 16px #010A10;
          box-shadow: 0px 0px 16px #010A10;
  width: calc(clamp(300px, 90% , 500px));
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 15px;
}

.login .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .form-container form h2 {
  color: #FFFBF2;
  font-size: 2em;
  margin-bottom: 0.5em;
  background: none;
  text-shadow: 0px 0px 4px #010A10;
}

.login .form-container form label {
  font-size: 1.5em;
  width: 100%;
  color: #FFFBF2;
  text-shadow: 0px 0px 4px #010A10;
}

.login .form-container form input {
  width: 100%;
  height: 3em;
  padding-left: 1em;
  font-size: 1em;
  border-radius: 15px;
  margin-bottom: 1.3em;
  border: none;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.login .form-container form input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 16px #010A10;
          box-shadow: 0px 0px 16px #010A10;
}

.login .form-container form button {
  padding: 0.5em 1.5em;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  background-color: #d6d5d5;
  color: #010A10;
  margin-bottom: 1.3em;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  -webkit-box-shadow: 0px 0px 8px #010A10;
          box-shadow: 0px 0px 8px #010A10;
}

.login .form-container form button:hover {
  background-color: #FFFBF2;
}

.login .form-container form p {
  font-size: 1.3em;
  text-align: center;
}

.login .form-container form p span {
  color: #FFFBF2;
  cursor: pointer;
}

.cart {
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.cart #cart-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-top: 25px;
}

.cart #cart-list span {
  font-size: 1.5em;
  color: #d60407;
}

.cart #cart-list > button {
  font-size: 1.2em;
  padding: 0.5em 1.5em;
  font-weight: bold;
  border: none;
  -webkit-box-shadow: 0px 0px 8px #010A10;
          box-shadow: 0px 0px 8px #010A10;
  cursor: pointer;
  border-radius: 25px;
}

.cart #cart-list > button:hover {
  background-color: #FFFBF2;
}

.cart #cart-list ul {
  list-style: none;
}

.cart #cart-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em;
  padding: 1.5em;
  border-radius: 15px;
  background-color: rgba(200, 200, 200, 0.3);
  -webkit-box-shadow: 0px 0px 16px #010A10;
          box-shadow: 0px 0px 16px #010A10;
}

.cart #cart-list ul li p {
  font-size: 1.2em;
  width: 80%;
  color: #FFFBF2;
  text-shadow: 0px 0px 4px #010A10;
}

.cart #cart-list ul li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(clamp(40px, 8vw, 45px));
  width: calc(clamp(40px, 8vw, 45px));
  font-size: calc(clamp(1.9em, 6vw, 2em));
  background: none;
  border: none;
  color: #FFFBF2;
  font-weight: bolder;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
  cursor: pointer;
}

.cart #cart-list ul li button:hover {
  color: #d60407;
}

.cart h1 {
  font-size: 2em;
  color: #FFFBF2;
  text-shadow: 0px 0px 6px #010A10;
}

.cart .instruction-details {
  width: 90%;
  font-size: calc(clamp(0.72em, 3vw , 1.2em));
  text-align: center;
}

.cart .instruction-details p {
  color: #FFFBF2;
  text-shadow: 0px 0px 4px #010A10;
  font-size: 2em;
  text-decoration: underline;
  cursor: pointer;
}

.cart #buy-container {
  width: 100%;
  height: 100%;
  border-left: 2px solid #010A10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart #buy-container p {
  color: #FFFBF2;
  font-size: 2em;
}

.cart #buy-container .back-button {
  position: fixed;
  top: 75px;
  left: 5px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  color: #FFFBF2;
  font-size: 1.3em;
  text-shadow: 0px 0px 4px #010A10;
}

.cart #buy-container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart #buy-container section .method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.cart #buy-container section .method label {
  font-size: calc(clamp(0.9em, 3vw, 1.2em));
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.cart #buy-container section p {
  font-size: 1.3em;
  width: 100%;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
}

.cart #buy-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(min(90%, 600px));
  background-color: rgba(200, 200, 200, 0.3);
  -webkit-box-shadow: 0px 0px 8px #010A10;
          box-shadow: 0px 0px 8px #010A10;
  border-radius: 15px;
  padding: 2.5% 5%;
}

.cart #buy-container form * {
  margin-bottom: 5px;
  text-shadow: 0px 0px 4px #010A10;
}

.cart #buy-container form h2 {
  color: #FFFBF2;
  text-shadow: 0px 0px 4px #010A10;
  margin-bottom: 0.5em;
}

.cart #buy-container form .address3-container label {
  height: 25px;
}

.cart #buy-container form .address3-container #postalCode-label {
  font-size: calc(clamp(0.9em, 1vw, 1.1em));
  line-height: 30px;
}

.cart #buy-container form label {
  color: #FFFBF2;
  width: 100%;
  font-size: 1.1em;
}

.cart #buy-container form input[type='radio'] {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  -webkit-transform: translate(0, 0.6em);
          transform: translate(0, 0.6em);
}

.cart #buy-container form input[type='text'] {
  width: 100%;
  border-radius: 10px;
  border: none;
  padding-left: 1em;
  font-size: 1.1em;
  height: 2.5em;
  outline: none;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  text-shadow: none;
}

.cart #buy-container form input[type='text']:focus {
  -webkit-box-shadow: 0px 0px 16px #010A10;
          box-shadow: 0px 0px 16px #010A10;
}

.cart #buy-container form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 15px;
}

.cart #buy-container form div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 0;
}

.cart #buy-container form div div input[type="text"] {
  width: 100%;
  padding-left: 1em;
  font-size: 1.1em;
  height: 2.5em;
}

.cart #buy-container form button {
  border-radius: 25px;
  font-size: 1.4em;
  padding: 0.3em 1.5em;
  background-color: #d6d5d5;
  -webkit-box-shadow: 0px 0px 8px #010A10;
          box-shadow: 0px 0px 8px #010A10;
  border: none;
  text-shadow: none;
  font-weight: bold;
  cursor: pointer;
}

.cart #buy-container form button:hover {
  background-color: #FFFBF2;
}

.cart #buy-container form button:disabled {
  opacity: 0.5;
}

.cart #buy-container form button:disabled:hover {
  background-color: #d6d5d5;
}

.cart #loader {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.cart #loader #loader-icon {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  border: 16px solid #FFFBF2;
  border-top: 16px solid #373838;
  -webkit-box-shadow: 0px 0px 16px #010A10;
          box-shadow: 0px 0px 16px #010A10;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.cart .show {
  display: block !important;
}

.modal {
  width: calc(min(500px, 90%));
  background-color: #FFFBF2;
  color: #010A10;
  padding: 1em 2.5em;
  padding-top: 0;
  border-radius: 15px;
  margin: auto;
  border: none;
}

.modal::-webkit-backdrop {
  background-color: #010A10;
  opacity: 0.6;
}

.modal::backdrop {
  background-color: #010A10;
  opacity: 0.6;
}

.modal #close-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal #close-modal h3 {
  font-size: 2em;
}

.modal #close-modal span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2.5em;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.modal #close-modal span:hover {
  color: #d60407;
}

.policies {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FFFBF2;
  width: calc(min(500px, 90%));
  -webkit-box-shadow: 0px 0px 16px #010A10;
          box-shadow: 0px 0px 16px #010A10;
  border-radius: 25px;
}

.policies h2 {
  font-weight: bold;
  padding: 0.5em 1em;
  font-size: 2em;
}

.policies div {
  padding: 0.5em 1em;
  font-size: 1.5em;
}

.policies div ol {
  list-style-position: inside;
}

.policies div ol li {
  margin-bottom: 1em;
  color: #373838;
}

.orders {
  padding-top: 75px;
}

.orders h3 {
  color: white;
  text-align: center;
  text-shadow: 0px 0px 4px #010A10;
  font-size: 2em;
  margin: 1em 0;
}

.orders #orders-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(min(600px, 90%));
  margin: auto;
  gap: 2em;
  list-style: none;
}

.orders #orders-list #orders-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  padding: 1.5em;
  border-radius: 15px;
  background-color: rgba(200, 200, 200, 0.3);
  -webkit-box-shadow: 0px 0px 16px #010A10;
          box-shadow: 0px 0px 16px #010A10;
  text-shadow: 0px 0px 4px #010A10;
  width: 100%;
  font-size: 1.2em;
}

.orders #orders-list #orders-item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFBF2;
}

.orders #orders-list #orders-item span div {
  color: #FFFBF2;
  padding-left: 5px;
}

.orders #orders-list #orders-item ol {
  color: #FFFBF2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style-position: inside;
}

.orders #orders-list #orders-item ol span {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10px;
}

.orders #orders-list #orders-item ol li {
  color: #FFFBF2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10px;
  display: none;
}

.orders #orders-list #orders-item .open-list li {
  display: block;
}

.error {
  font-size: 1.3em;
  color: #d60407;
  text-shadow: none !important;
  background-color: #e6b3b4;
  outline: none;
  padding: 0 2.5%;
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 0.5em;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar ul {
    padding-right: 12px;
  }
  .navbar #logo {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .navbar {
    padding: 0;
    background-color: rgba(50, 50, 50, 0.9);
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: rgba(0, 0, 0, 0.4) 2px solid;
  }
  .navbar #instagram-container {
    height: 0;
    width: 0;
  }
  .navbar #instagram-container #instagram {
    position: absolute;
    top: -55px;
  }
  .navbar #burger {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    margin-right: auto;
    margin-left: 17.5px;
    cursor: pointer;
  }
  .navbar #burger span {
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: #FFFBF2;
    border-radius: 5px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-box-shadow: 0px 0px 5px #010A10;
            box-shadow: 0px 0px 5px #010A10;
    -webkit-transition: top 0.25s ease-in-out, opacity 0.2s, -webkit-transform 0.25s ease-in-out;
    transition: top 0.25s ease-in-out, opacity 0.2s, -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, top 0.25s ease-in-out, opacity 0.2s;
    transition: transform 0.25s ease-in-out, top 0.25s ease-in-out, opacity 0.2s, -webkit-transform 0.25s ease-in-out;
  }
  .navbar #burger :nth-child(1) {
    top: 2px;
  }
  .navbar #burger :nth-child(2), .navbar #burger :nth-child(3) {
    top: 16px;
  }
  .navbar #burger :nth-child(4) {
    top: 30px;
  }
  .navbar .make-x {
    overflow: hidden;
  }
  .navbar .make-x :nth-child(1) {
    top: -7px !important;
    -webkit-transform: rotate(0) !important;
            transform: rotate(0) !important;
    opacity: 0;
  }
  .navbar .make-x :nth-child(2) {
    top: 16px !important;
    -webkit-transform: rotate(45deg) !important;
            transform: rotate(45deg) !important;
  }
  .navbar .make-x :nth-child(3) {
    top: 16px !important;
    -webkit-transform: rotate(-45deg) !important;
            transform: rotate(-45deg) !important;
  }
  .navbar .make-x :nth-child(4) {
    top: 40px !important;
    opacity: 0;
  }
  .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 75px;
    left: 0;
    height: calc(100vh - 75px);
    width: 100%;
    padding: 0;
    -webkit-box-shadow: -2px 50px 16px #010A10, 100% 2px 16px #010A10;
            box-shadow: -2px 50px 16px #010A10, 100% 2px 16px #010A10;
  }
  .navbar ul li {
    width: 100%;
    background-color: rgba(50, 50, 50, 0.9);
    border-bottom: rgba(0, 0, 0, 0.4) 2px solid;
  }
  .navbar ul li:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .navbar ul #shop-anchor {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 100%;
    border-bottom: rgba(0, 0, 0, 0.4) 2px solid;
    cursor: pointer;
  }
  .navbar ul #shop-anchor .open-span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: calc((100vh - 75px)/7);
  }
  .navbar ul #shop-anchor .open-span::after {
    content: "\25BC";
    padding-left: 5px;
  }
  .navbar ul #shop-anchor .close-span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: calc((100vh - 75px)/7);
  }
  .navbar ul #shop-anchor .close-span::after {
    content: "\25B2";
    padding-left: 5px;
  }
  .navbar ul #shop-anchor #shop-dropdown {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    top: 0;
    width: 100vw;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-top: rgba(0, 0, 0, 0.4) 2px solid;
    background-color: rgba(50, 50, 50, 0.7);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .navbar ul #shop-anchor #shop-dropdown a {
    height: calc((100vh - 75px)/7/2);
    border-bottom: rgba(0, 0, 0, 0.4) 2px solid;
    padding: 0;
  }
  .navbar ul #shop-anchor #shop-dropdown a:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .navbar ul #shop-anchor #shop-dropdown :nth-child(1), .navbar ul #shop-anchor #shop-dropdown :nth-child(3), .navbar ul #shop-anchor #shop-dropdown :nth-child(5) {
    border-right: rgba(0, 0, 0, 0.4) 2px solid;
  }
  .navbar ul #shop-anchor #shop-dropdown :nth-child(5), .navbar ul #shop-anchor #shop-dropdown :nth-child(6) {
    border-bottom: none;
  }
  .navbar ul #shop-anchor:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .navbar ul #shop-anchor:hover #shop-dropdown {
    display: -ms-grid;
    display: grid;
  }
  .hide {
    display: none !important;
  }
  .not-faded {
    -webkit-box-shadow: 0px 0px 16px black;
            box-shadow: 0px 0px 16px black;
    background-color: rgba(200, 200, 200, 0.3);
    border-bottom: none;
  }
}

/* devanagari */
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tillana/v11/VuJ0dNvf35P4qJ1OQFL-LI9GZCNc.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tillana/v11/VuJ0dNvf35P4qJ1OQFL-LIBGZCNc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tillana/v11/VuJ0dNvf35P4qJ1OQFL-LI5GZA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v15/NaPecZTIAOhVxoMyOr9n_E7fdM3mDbRS.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v15/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*# sourceMappingURL=App.css.map */