@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@500&display=swap');

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

$base-red: #d60407;
$dark-red: #960306;
$base-black: #010A10;
$base-white: #FFFBF2;
$base-gray: #e9e8e8;
$base-gold: #FFD700;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $base-black;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: $base-white;
    background: url("../pictures/yorkville\ checkout\ background.jpg");
}

.navbar {
    position: fixed;
    height: 75px;
    width: 100vw;
    top: 0;
    @include flexCenter();
    justify-content: space-between;
    padding: 0 5%;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(7.5px);
    box-shadow: 0px 0px 16px black;

    #logo {
        color: $base-white;
        font-size: 1.3em;
    }
    ul {
        list-style: none;
        @include flexCenter();
        height: 100%;
        li {
            height: 100%;
            width: 120px;
            color: $base-white;
            font-weight: bold;
            font-size: 1.1em;
            text-shadow: 1px 1px 1px black;
            padding: 0 1.5em;
            transition: background-color 0.5s;
            &:hover {
                background-color: rgba(0, 0, 0, 0.2);  
            }
            a {
                text-decoration: none;
                color: $base-white;
                font-weight: bold;
                text-shadow: 1px 1px 1px black;
                height: 100%;
                @include flexCenter();
                
            }
        }
        #shop-anchor {
            @include flexCenter();
            width: 120px;
            #shop-dropdown {
                display: none;
                position: absolute;
                top: 75px;
                width: 200px;
                background-color: rgba(255, 255, 255, .15);  
                backdrop-filter: blur(7.5px);
                a {
                    font-size: 1.2em;
                    color: $base-white;
                    padding: 0.5em 1em;
                    background-color: rgba(255, 255, 255, .10);  
                    backdrop-filter: blur(7.5px);
                    transition: background-color 0.5s, opacity 0.5s;
                    &:hover {
                        background-color: rgba(21, 22, 22, 0.37)
                    }
                }
            }
            &:hover {
                background-color: rgba(0, 0, 0, 0.2);  
                #shop-dropdown {
                    display: block;
                }
            }
        }
    }
}

.page {
    padding-top: 75px;
}

.shop {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 25px;
    @include flexCenter();
    justify-content: space-around;
    gap: 35px;
    flex-wrap: wrap;
    .item-container {
        width: calc(clamp(300px, 30vw, 400px));
        aspect-ratio: 1/1;
        @include flexCenter();
        flex-direction: column;
        justify-content: space-between;
        background-color: $base-white;
        box-shadow: 0px 0px 16px $base-black;
        p {
            font-family: 'Tillana', cursive;
            font-size: calc(clamp(1.1em, 3vw, 1.4em));
            width: 100%;
            padding: 1em 0.5em;
            background-color: $base-white;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; 
            cursor: pointer;
        }
        img {
            width: calc(100% - 3em);
            aspect-ratio: 1/1;
            margin: 1.5em 1.5em 0 1.5em;
            background-color: $base-gray;
        }
    }
    #single-focus-container {
        background-color: $base-white;
        background: url("../pictures/yorkville\ checkout\ background.jpg");
        width: 100vw;
        height: calc(100vh - 75px);
        #back-to-shop {
            color: $base-black;
        }
        #content-container{
            @include flexCenter();
            flex-wrap: wrap;
            gap: 40px;
            position: absolute;
            left: 50%;
            top: calc(50% + 37.5px);
            width: calc(min(90%, 1000px));
            transform: translate(-50%, -50%);
            padding: 1em 0;
            background-color: rgba(255, 255, 255, .15);  
            backdrop-filter: blur(7.5px);
            box-shadow: 0px 0px 16px gray;
            border-radius: 15px;
            #p-img-container {
                @include flexCenter();
                flex-direction: column;
                width: calc(clamp(300px, 50%, 450px));
                gap: 1vh;
            }
            img {
                width: 80%;
                box-shadow: 2px 2px 8px $base-black, -2px -2px 8px $base-gray;
            }
            p {
                font-size: calc(clamp(1.2em, 3vw, 1.5em));
                width: 100%;
                text-align: center;
                color: $base-white
            }
            #size-add-container {
                @include flexCenter();
                flex-direction: column;
                width: 40%;
                gap: 45px;
            }
            .add-to-cart {
                padding: 0.5em 1em;
                font-size: calc(clamp(1em, 2vw, 1.3em));
                cursor: pointer;
                border: none;
                background-color: $base-red;
                color: $base-white;
                border-radius: 5px;
                transition: background-color 0.5s;
                &:hover {
                    background-color: $dark-red;
                }
            }
            .add-to-cart.inactive {
                cursor: auto;
                opacity: 0.5;
                &:hover {
                    background-color: $base-red;
                }
            }
            #size-container {
                width: 80%;
                @include flexCenter();
                flex-wrap: wrap;
                gap: 5px;
                .size-buttons {
                    width: 75px;
                    aspect-ratio: 2/1;
                    font-size: 1.3em;
                    cursor: pointer;
                    border: none;
                    background-color: $base-white;
                    color: $base-black;
                    transition: background-color 0.5s, color 0.25s;
                    border: #d60407 2px solid;
                    border-radius: 5px;
                    &:hover {
                        color: $base-white;
                        background-color: $base-red;
                    }
                }
            }
        }
        
        
    }
}

.login {
    @include flexCenter();
    padding-top: 75px;
    height: calc(100vh - 75px);
    width: 100vw;
    .form-container {
        padding: 2em;
        box-shadow: 0px 0px 16px $base-black;
        width: calc(clamp(300px, 50vw , 500px));
        background-color: rgba(255, 255, 255, .15);  
        backdrop-filter: blur(7.5px);
        border-radius: 15px;
        form {
            @include flexCenter();
            flex-direction: column;
            h2 {
                color: $base-white;
                font-size: 2em;
                margin-bottom: 0.5em;
                background: none;
            }
            label {
                font-size: 1.3em;
                width: 80%;
                color: $base-white;
            }
            input {
                width: 80%;
                height: 3em;
                padding-left: 1em;
                font-size: 1em;
                border-radius: 15px;
                margin-bottom: 1.3em;
                color: white;
                border: none;
                background: none;
                box-shadow: inset 2px 2px 10px $base-black, inset -2px -2px 10px $base-gray;
                &:focus {
                    outline: none;
                }
            }
            button {
                padding: 0.5em 1.3em;
                font-size: 1.2em;
                cursor: pointer;
                border: none;
                background-color: $base-gray;
                color: $base-black;
                border-radius: 5px;
                margin-bottom: 1.3em;
                transition: background-color 0.5s;
                box-shadow: 0px 0px 8px $base-black;
                
                &:hover {
                    background-color: $base-white;
                }
            }
            span {
                color: $base-white;
                cursor: pointer;
            }
        }
    }
}

.cart {
    padding-top: 75px;
    @include flexCenter();
    height: 100vh;
    #cart-list {
        @include flexCenter();
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding-top: 25px;
        #empty {
            display: block;
            color: $base-white;
            font-size: 3em;
        }
       ul {
        list-style: none;
        li {
            @include flexCenter();
            justify-content: space-between;
            margin: 2em;
            padding: 1.5em;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, .15);  
            backdrop-filter: blur(7.5px);
            box-shadow: 0px 0px 16px $base-black;
            p {
                font-size: 1.2em;
                width: 80%;
                color: $base-white;
            }
            button {
                @include flexCenter();
                height: calc(clamp(40px, 8vw, 45px));
                width: calc(clamp(40px, 8vw, 45px));
                font-size:  calc(clamp(1.9em, 6vw, 2em));;
                background: none;
                border: none;
                color: $base-white;
                font-weight: bolder;
                transition: background-color 0.25s, color 0.25s;
                cursor: pointer;
                &:hover {
                    color: $base-red; 
                }
            }
        }
       }
    }
    #buy-container {
        width: 100%;
        height: 100%;
        border-left: 2px solid $base-black;
        @include flexCenter();
        p {
            color: $base-white;
            font-size: 2em;
        }   
        #back-to-cart {
            position: absolute;
            top: 75px;
            left: 0;
        }
        form {
            @include flexCenter();
            flex-direction: column;
            width: calc(min(90%, 600px));
            background-color: rgba(255, 255, 255, .15);  
            backdrop-filter: blur(7.5px);
            box-shadow: 0px 0px 8px $base-black;
            border-radius: 15px;
            padding: 2.5% 5%;
            * {
                margin-bottom: 5px;
                text-shadow: 0px 0px 4px $base-black;
            }
            h2 {
                color: $base-white;
                text-shadow: 0px 0px 4px $base-black;
                margin-bottom: 0.5em;
            }
            span {
                font-size: 1.3em;
                color: $base-red;
                text-shadow: none;
                background-color: #e6b3b4;
                outline: none;
                padding: 0 2.5%;
                max-width: 100%;
                border-radius: 5px;
                margin-bottom: 0.5em;
            };
            label {
                color: $base-white;
                width: 100%;
                font-size: 1.1em;
            }
            input[type='radio']{
                align-self: flex-start;
                position: relative;
                transform: translate(0, 0.6em);
            }
            p {

            }
            input[type='text'] {
               width: 100%;
               border-radius: 10px;
               border: none;
               padding-left: 1em;
               font-size: 1.1em;
               height: 2.5em;
               outline: none;
               transition: box-shadow 0.25s;
               text-shadow: none;
               &:focus {
                box-shadow: 0px 0px 16px $base-black;
               } 
            }
           
            div {
                @include flexCenter();
                width: 100%;
                gap: 15px;
                div {
                    @include flexCenter();
                    flex-direction: column;
                    width: 100%;
                    gap: 0;
                    input[type="text"] {
                        width: 100%;
                        padding-left: 1em;
                        font-size: 1.1em;
                        height: 2.5em;
                     }
                }
            }
            button {
                color: $base-black;
                font-size: 1.5em;
                border-radius: 50px;
                padding: 0 5%;
                background-color: $base-white;
                box-shadow: 0px 0px 8px $base-black;
                border: none;
                text-shadow: none;
                font-weight: bold;
                cursor: pointer;
                transition: transform 0.25s, box-shadow 0.25s;
                &:hover {
                    transform: scale(110%);
                    box-shadow: 0px 0px 16px $base-black;;
                }
            }
        }
    }
}

.orders {
    padding-top: 75px;
    li {
        @include flexCenter();
        justify-content: space-between;
        margin: 2em;
        padding: 1.5em;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, .15);  
        backdrop-filter: blur(7.5px);
        box-shadow: 0px 0px 16px $base-black;
        color: $base-white;
    }
}

