@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tillana:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #010A10;
  font-family: 'Titillium Web', sans-serif;
}

body {
  background-color: #FFFBF2;
  background: url("../pictures/yorkville checkout background.jpg");
}

.navbar {
  position: fixed;
  height: 75px;
  width: 100vw;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  -webkit-box-shadow: 0px 0px 16px black;
          box-shadow: 0px 0px 16px black;
}

.navbar #logo {
  color: #FFFBF2;
  font-size: 1.3em;
}

.navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar ul li {
  height: 100%;
  width: 120px;
  color: #FFFBF2;
  font-weight: bold;
  font-size: 1.1em;
  text-shadow: 1px 1px 1px black;
  padding: 0 1.5em;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.navbar ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar ul li a {
  text-decoration: none;
  color: #FFFBF2;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul #shop-anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
}

.navbar ul #shop-anchor #shop-dropdown {
  display: none;
  position: absolute;
  top: 75px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}

.navbar ul #shop-anchor #shop-dropdown a {
  font-size: 1.2em;
  color: #FFFBF2;
  padding: 0.5em 1em;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  -webkit-transition: background-color 0.5s, opacity 0.5s;
  transition: background-color 0.5s, opacity 0.5s;
}

.navbar ul #shop-anchor #shop-dropdown a:hover {
  background-color: rgba(21, 22, 22, 0.37);
}

.navbar ul #shop-anchor:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar ul #shop-anchor:hover #shop-dropdown {
  display: block;
}

.page {
  padding-top: 75px;
}

.shop {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop .item-container {
  width: calc(clamp(300px, 30vw, 400px));
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFFBF2;
  -webkit-box-shadow: 0px 0px 16px #010A10;
          box-shadow: 0px 0px 16px #010A10;
}

.shop .item-container p {
  font-family: 'Tillana', cursive;
  font-size: calc(clamp(1.1em, 3vw, 1.4em));
  width: 100%;
  padding: 1em 0.5em;
  background-color: #FFFBF2;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.shop .item-container img {
  width: calc(100% - 3em);
  aspect-ratio: 1/1;
  margin: 1.5em 1.5em 0 1.5em;
  background-color: #e9e8e8;
}

.shop #single-focus-container {
  background-color: #FFFBF2;
  background: url("../pictures/yorkville checkout background.jpg");
  width: 100vw;
  height: calc(100vh - 75px);
}

.shop #single-focus-container #back-to-shop {
  color: #010A10;
}

.shop #single-focus-container #content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  position: absolute;
  left: 50%;
  top: calc(50% + 37.5px);
  width: calc(min(90%, 1000px));
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1em 0;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  -webkit-box-shadow: 0px 0px 16px gray;
          box-shadow: 0px 0px 16px gray;
  border-radius: 15px;
}

.shop #single-focus-container #content-container #p-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(clamp(300px, 50%, 450px));
  gap: 1vh;
}

.shop #single-focus-container #content-container img {
  width: 80%;
  -webkit-box-shadow: 2px 2px 8px #010A10, -2px -2px 8px #e9e8e8;
          box-shadow: 2px 2px 8px #010A10, -2px -2px 8px #e9e8e8;
}

.shop #single-focus-container #content-container p {
  font-size: calc(clamp(1.2em, 3vw, 1.5em));
  width: 100%;
  text-align: center;
  color: #FFFBF2;
}

.shop #single-focus-container #content-container #size-add-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  gap: 45px;
}

.shop #single-focus-container #content-container .add-to-cart {
  padding: 0.5em 1em;
  font-size: calc(clamp(1em, 2vw, 1.3em));
  cursor: pointer;
  border: none;
  background-color: #d60407;
  color: #FFFBF2;
  border-radius: 5px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.shop #single-focus-container #content-container .add-to-cart:hover {
  background-color: #960306;
}

.shop #single-focus-container #content-container .add-to-cart.inactive {
  cursor: auto;
  opacity: 0.5;
}

.shop #single-focus-container #content-container .add-to-cart.inactive:hover {
  background-color: #d60407;
}

.shop #single-focus-container #content-container #size-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}

.shop #single-focus-container #content-container #size-container .size-buttons {
  width: 75px;
  aspect-ratio: 2/1;
  font-size: 1.3em;
  cursor: pointer;
  border: none;
  background-color: #FFFBF2;
  color: #010A10;
  -webkit-transition: background-color 0.5s, color 0.25s;
  transition: background-color 0.5s, color 0.25s;
  border: #d60407 2px solid;
  border-radius: 5px;
}

.shop #single-focus-container #content-container #size-container .size-buttons:hover {
  color: #FFFBF2;
  background-color: #d60407;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 75px;
  height: calc(100vh - 75px);
  width: 100vw;
}

.login .form-container {
  padding: 2em;
  -webkit-box-shadow: 0px 0px 16px #010A10;
          box-shadow: 0px 0px 16px #010A10;
  width: calc(clamp(300px, 50vw , 500px));
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 15px;
}

.login .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .form-container form h2 {
  color: #FFFBF2;
  font-size: 2em;
  margin-bottom: 0.5em;
  background: none;
}

.login .form-container form label {
  font-size: 1.3em;
  width: 80%;
  color: #FFFBF2;
}

.login .form-container form input {
  width: 80%;
  height: 3em;
  padding-left: 1em;
  font-size: 1em;
  border-radius: 15px;
  margin-bottom: 1.3em;
  color: white;
  border: none;
  background: none;
  -webkit-box-shadow: inset 2px 2px 10px #010A10, inset -2px -2px 10px #e9e8e8;
          box-shadow: inset 2px 2px 10px #010A10, inset -2px -2px 10px #e9e8e8;
}

.login .form-container form input:focus {
  outline: none;
}

.login .form-container form button {
  padding: 0.5em 1.3em;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  background-color: #e9e8e8;
  color: #010A10;
  border-radius: 5px;
  margin-bottom: 1.3em;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  -webkit-box-shadow: 0px 0px 8px #010A10;
          box-shadow: 0px 0px 8px #010A10;
}

.login .form-container form button:hover {
  background-color: #FFFBF2;
}

.login .form-container form span {
  color: #FFFBF2;
  cursor: pointer;
}

.cart {
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.cart #cart-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-top: 25px;
}

.cart #cart-list #empty {
  display: block;
  color: #FFFBF2;
  font-size: 3em;
}

.cart #cart-list ul {
  list-style: none;
}

.cart #cart-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em;
  padding: 1.5em;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  -webkit-box-shadow: 0px 0px 16px #010A10;
          box-shadow: 0px 0px 16px #010A10;
}

.cart #cart-list ul li p {
  font-size: 1.2em;
  width: 80%;
  color: #FFFBF2;
}

.cart #cart-list ul li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(clamp(40px, 8vw, 45px));
  width: calc(clamp(40px, 8vw, 45px));
  font-size: calc(clamp(1.9em, 6vw, 2em));
  background: none;
  border: none;
  color: #FFFBF2;
  font-weight: bolder;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
  cursor: pointer;
}

.cart #cart-list ul li button:hover {
  color: #d60407;
}

.cart #buy-container {
  width: 100%;
  height: 100%;
  border-left: 2px solid #010A10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart #buy-container p {
  color: #FFFBF2;
  font-size: 2em;
}

.cart #buy-container #back-to-cart {
  position: absolute;
  top: 75px;
  left: 0;
}

.cart #buy-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(min(90%, 600px));
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  -webkit-box-shadow: 0px 0px 8px #010A10;
          box-shadow: 0px 0px 8px #010A10;
  border-radius: 15px;
  padding: 2.5% 5%;
}

.cart #buy-container form * {
  margin-bottom: 5px;
  text-shadow: 0px 0px 4px #010A10;
}

.cart #buy-container form h2 {
  color: #FFFBF2;
  text-shadow: 0px 0px 4px #010A10;
  margin-bottom: 0.5em;
}

.cart #buy-container form span {
  font-size: 1.3em;
  color: #d60407;
  text-shadow: none;
  background-color: #e6b3b4;
  outline: none;
  padding: 0 2.5%;
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 0.5em;
}

.cart #buy-container form label {
  color: #FFFBF2;
  width: 100%;
  font-size: 1.1em;
}

.cart #buy-container form input[type='radio'] {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  -webkit-transform: translate(0, 0.6em);
          transform: translate(0, 0.6em);
}

.cart #buy-container form input[type='text'] {
  width: 100%;
  border-radius: 10px;
  border: none;
  padding-left: 1em;
  font-size: 1.1em;
  height: 2.5em;
  outline: none;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  text-shadow: none;
}

.cart #buy-container form input[type='text']:focus {
  -webkit-box-shadow: 0px 0px 16px #010A10;
          box-shadow: 0px 0px 16px #010A10;
}

.cart #buy-container form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 15px;
}

.cart #buy-container form div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 0;
}

.cart #buy-container form div div input[type="text"] {
  width: 100%;
  padding-left: 1em;
  font-size: 1.1em;
  height: 2.5em;
}

.cart #buy-container form button {
  color: #010A10;
  font-size: 1.5em;
  border-radius: 50px;
  padding: 0 5%;
  background-color: #FFFBF2;
  -webkit-box-shadow: 0px 0px 8px #010A10;
          box-shadow: 0px 0px 8px #010A10;
  border: none;
  text-shadow: none;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.25s, -webkit-box-shadow 0.25s;
  transition: -webkit-transform 0.25s, -webkit-box-shadow 0.25s;
  transition: transform 0.25s, box-shadow 0.25s;
  transition: transform 0.25s, box-shadow 0.25s, -webkit-transform 0.25s, -webkit-box-shadow 0.25s;
}

.cart #buy-container form button:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
  -webkit-box-shadow: 0px 0px 16px #010A10;
          box-shadow: 0px 0px 16px #010A10;
}

.orders {
  padding-top: 75px;
}

.orders li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em;
  padding: 1.5em;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  -webkit-box-shadow: 0px 0px 16px #010A10;
          box-shadow: 0px 0px 16px #010A10;
  color: #FFFBF2;
}
/*# sourceMappingURL=App.css.map */